<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>log/logFile.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>log/logFile.%d{yyyy-MM-dd}.log</fileNamePattern>

			<!-- keep 1 days' worth of history -->
			<maxHistory>5</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="gloderss.GLODERSSimulator" level="DEBUG" />
	<logger name="gloderss.communication" level="ERROR" />
	<logger name="gloderss.agents.consumer" level="ERROR" />
	<logger name="gloderss.agents.entrepreneur" level="ERROR" />
	<logger name="gloderss.agents.intermediaryOrg" level="ERROR" />
	<logger name="gloderss.agents.mafia" level="ERROR" />
	<logger name="gloderss.agents.state" level="ERROR" />
	<logger name="gloderss.conf" level="ERROR" />
	<logger name="gloderss.engine" level="ERROR" />
	<logger name="gloderss.normative" level="ERROR" />
	<logger name="gloderss.reputation" level="ERROR" />
	<logger name="gloderss.util.distribution" level="ERROR" />
	<logger name="gloderss.util.network" level="ERROR" />
	<logger name="gloderss.util.profiler" level="ERROR" />
	<logger name="gloderss.util.random" level="ERROR" />

	<root level="ERROR">
		<!-- <appender-ref ref="STDOUT" /> -->
		<appender-ref ref="FILE" />
	</root>

</configuration>